apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql 
  template:
    metadata:
      name: mysql
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: 
        env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                      secretKeyRef:
                              name: dbpass
                              key: dbpass
        ports:
          - containerPort: 3306

---

apiVersion: v1
kind: Service
metadata:
   name: mysql
   labels:
     app: mysql
spec:
   type: LoadBalancer
   ports:
     - protocol: TCP
       port: 3306
       targetPort: 3306
   selector:
     app: mysql